<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="inc/bootstrap.min.css">
  <title></title>
</head>
<body>

  <h1 id="app">
    {{ message }}
  </h1>

  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
  </div>




  <script type="text/javascript" src="inc/vue.js"> </script>
  <script type="text/javascript" src="index.js">

  </script>
</body>
</html>
